#headerContainer{
    display: flex;
    background-color: rgb(25, 25, 31);
    height: 50px;
}
#logoImage{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    margin-left: 5%;
}
#title{
    width: 90%;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px blue;
}